@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.NavBar{
    width: 95%;
    margin:auto;
    padding: 5px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.NavBar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.btn
{
    position: relative;
    display:inline-block;
    border-radius: 2%;
    padding: 17px 47px;
    background: #363636;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}
.btn span
{
    position: relative;
    z-index: 1;
}
.btn::before
{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #2196f3;
    transition: width 0.5s, height 0.5s
    ;
}
.btn:hover::before
{
    width: 300px;
    height: 300px;
}
